<div class="container news">
    <div class="news_text">
        <h2 class="news_title">
            What is new?
        </h2>
        <h4 class="news_body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium ipsa autem optio, eligendi voluptatibus
            aliquam nulla error impedit amet, neque rerum ipsam molestias, ipsum doloremque repellat corrupti?
            Distinctio,
            error necessitatibus!
        </h4>
    </div>
    <div class="news_image">
        <img src="../../assets/snake.jpg" alt="main_photo">
    </div>
    <div class="clearfix"></div>
</div>