<section class="container">
    <nav class="services_menu">
        <ul class="menus">
            <li (click)="selectedNewsId()"  class="menu_items"> <a routerLink='/services/news'> News </a></li>
        </ul>
        <ul>
            <li (click)="selectedStartupsId()" class="menu_items"><a > Startups </a> </li>
        </ul>
        <ul>
            <li (click)="selectedHitechId()" class="menu_items"> <a > Hi-Tech </a> </li>
        </ul>
    </nav>
    <div *ngIf="post" class="detail" >
        <img  src="{{post.url}}"  >
        <div >{{post.title}}</div>
    </div>
</section>
